{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h1>
        Tasks
    </h1>

    {% if request.user.role == 'admin' or request.user.is_superuser %}

        <a href="/tasks/create/"
           class="btn btn-primary">

            Create Task

        </a>

    {% endif %}

</div>

<div class="card shadow-sm">

    <div class="card-body">

        <table class="table table-bordered align-middle">

            <thead>

                <tr>

                    <th>Title</th>
                    <th>Project</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Assigned To</th>
                    <th>Due Date</th>

                </tr>

            </thead>

            <tbody>

                {% for task in tasks %}

                    {% include 'tasks/partials/task_row.html' %}

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}